.env

__pycache__/
*.py[cod]

.pytest_cache/
.mypy_cache/
.ruff_cache/

.venv/

storage/uploads/*
storage/processed/*
storage/temp/*

!storage/uploads/.gitkeep
!storage/processed/.gitkeep
!storage/temp/.gitkeep

*.log
app/__pycache__/main.cpython-313.pyc
